{% extends 'main.html' %} {% block content %} {% if page == 'login' %}
<div>
  <form action="" method="POST">
    {% csrf_token %}

    <input name="username" type="text" placeholder="Enter Username" />
    <input name="password" type="password" placeholder="Password" />

    <input type="submit" value="Login" />
  </form>
  <p>Not a Member?</p>
  <a href="{% url "register" %}">Sign Up</a>
</div>
{% elif page == 'register' %}
<div>
  <form action="" method="POST">
    {% csrf_token %}
    {{register_form.as_p}}
    <input type="submit" value="Register" />
  </form>
  <p>Already a Member?</p>
  <a href="{% url "login" %}">Login</a>
</div>
{% endif %} {% endblock content %}
